header {
    height: 100vh;
    padding-top: 7rem;
    overflow: hidden;
}

.header {
    &__container {
        text-align: center;
        height: 100%;
        position: relative;
    }
    
    &__socials {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        position: absolute;
        left: 0;
        bottom: 3rem;
        &::after {
            content: '';
            width: 1px;
            height: 2rem;
            background: var(--color-primary);
        }
    }
}

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

.me {
    background: linear-gradient(var(--color-primary), transparent);
    overflow: hidden;
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    border-radius: 12rem 12rem 0 0;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
    margin-top: 4rem;
}

.scroll {
    &__down {
        position: absolute;
        right: -2.3rem;
        bottom: 5rem;
        transform: rotate(90deg);
        font-weight: 200;
        font-size: 0.9rem;
    }
}

.change-lang {
    font-family: "Poppins", sans-serif;
    font-size: 1.1rem;
    position: absolute;
    width: 55px;
    height: 40px;
    right: 0;
    top: -3.5rem;
    appearance: none; //without dropdown arror
    text-align: center;
    border-radius: .75rem;
    border: 1px solid transparent;
    background-color: var(--color-bg-variant);
    color: var(--color-white);
    transition: var(--transition);

    &:hover, &:focus {
        background: transparent;
        border-color: var(--color-primary-variant);
        cursor: pointer;
    }
    & * { //options
        background-color: var(--color-bg);
        transition: var(--transition);
        text-align: center;
    }
}

/* =============== MEDIA QUERIES (MEDIUM DEVICES) =============== */
@media screen and (max-width: 1024px) {
    header {
        height: 68vh;
    }
}

/* =============== MEDIA QUERIES (SMALL DEVICES) =============== */
@media screen and (max-width: 600px) {
    header {
        height: 100vh;
    }
    .header__socials,
    .scroll__down {
        display: none;
    }
    .change-lang {
        top: -5rem;
    }
}